APP_NAME="QA"
APP_VERSION="0.1"

FILE_ALLOWED_TYPES=[...]
FILE_MAX_SIZE=50
FILE_DEFAULT_CHUNK_SIZE=512000 

MONGODB_URL="mongodb://<username>:<password>@localhost:27018"
MONGODB_DATABASE="mini-rag"

LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=default

# ========================= LLM Config =========================
GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="LOCAL_EMBEDDING"

OPENAI_API_KEY=
COHERE_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=

GENERATION_MODEL_ID="openai/gpt-4o-mini"
EMBEDDING_MODEL_ID="sentence-transformers/all-MiniLM-L6-v2"
EMBEDDING_MODEL_SIZE=384

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

# ========================= Vector DB Config =========================
VECTOR_DB_PATH="assets"
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_DISTANCE_METHOD="cosine"